---
# Sample inventory file for Ubuntu patching collection

[k8s_cluster]
m1 ansible_host=192.168.1.101
w1 ansible_host=192.168.1.102
w2 ansible_host=192.168.1.103
w3 ansible_host=192.168.1.104

[docker]
dockerhost ansible_host=localhost

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_become=true
ansible_python_interpreter=/usr/bin/python3

[k8s_cluster:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/k8s_key
ansible_become=true
k8_primary_node=k8-node-01

[docker_hosts:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/docker_key
ansible_become=true