---
# Ubuntu package management tasks

- name: Update APT cache
  become: true
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade APT packages
  become: true
  apt:
    upgrade: 'yes'

- name: Clean up APT packages
  become: true
  apt:
    autoremove: true
    purge: true