---
# Update and upgrade tasks for Kubernetes nodes
- name: Update all APT packages
  become: true
  apt:
    name: '*'
    state: latest
  when: ansible_os_family == "Debian"

- name: Upgrade OS
  become: true
  apt:
    upgrade: dist
  when: ansible_os_family == "Debian"

- name: Truncate Nginx logs
  become: true
  shell: sudo truncate -s 0 /var/log/nginx/access.log /var/log/nginx/error.log